.bt-left {
    float: left;
}
.bt-right {
    float: right;
}
::selection {
    background-color: #d3b548;
}


#menu-horizontal .Bt { 
    margin-right: 15px;
    background-color: #222222;
    color: #fcd95a;
    font-weight: bolder;
    font-size: 14px;
    align-self: center;
}
body {
    background-color: #000000;
    color: white;
    font-family: sans-serif;
}
header {
    background-color: #121212;
    padding: 15px;
    border-radius: 8px; 
    height: 30px;
}
input[type='button'] {
    background-color: #121212;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 8px 10px;
    font-weight: bold;
    transition: background-color 0.5s, transform 0,6s ease;
}

input[type='button']:hover {
    background-color: #252525;
}

input[type='button']:active {
    transform: scale(0.9);
    transition: background-color 0.5s, transform 0,2s ease;
}
input[type='text'] {
    background-color: #d6d6d6;
    border-radius: 32px;
    border-color: #d6d6d6;
    border-style: solid;
    border-width: 8px;
    width: 180px;
    margin-left: 55px;
    transition: width 0.3s ease-in-out;
    
}
input[type='text']:focus {
    width: 250px;
    transition: width 0.3s ease-in-out;
}

#imagem-horizontal img {
    border-radius: 5px;
}
/* Estilo para as imagens horizontais */
.img-horizontal {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 20px;
    text-align: center;
}

.img-horizontal img {
    border-radius: 4px;
    margin-left: 15px;
}

.img-horizontal .legenda-horizontal {
    border-radius: 4px;
    color: #fff;
}

.img-horizontal .legenda-horizontal h4 {
    max-width: 185px;
    color: #ffe790;
    margin-bottom: 5px;
    transform: translateX(16px);
}

.img-horizontal .legenda-horizontal h5 {
    transform: translateX(8px);
}

.img-vertical {
    margin-bottom: -80px;
}
.img-vertical img {
    border-radius: 4px;
}
.img-vertical .legenda-vertical {
    margin-left: 150px;
    transform:translateY(-169px); 
}

.titulo-vertical h1 {
    color: #F5C518;
}


/*banner slider*/
.slider {
    width: 880px;
    height: 400px;
    position: relative;
    transition: all 0,5s;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .slider img {
    width: 880px;
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 8px;
    object-fit: cover;
  
  }
  
  .slider img:first-child {
    z-index: 0;
  }
  
  .slider img:nth-child(2) {
    z-index: 0;
  }
  /* botões slider*/
  
  
  .navigation-button {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  .dot {
    cursor: pointer;
    height: 10px;
    width: 10px; 
    margin-left: 2px;
    background-color: #cfcfcf;
    border-radius: 50%;
    display: inline-block;
  }
  
  .dot.active,
  .dot:hover {
    background-color: #f0cd4f;
  }
  h1 {
    font-weight: bolder;
  }
  .titulo-horizontal {
    text-align: left;
  }
  .titulo-horizontal2 {
    text-align: left;
  }


/* /* Estilo para as imagens horizontais */
.img-horizontal2 {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 20px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.img-horizontal2 img {
    border-radius: 4px;
}

.img-horizontal2 .legenda-horizontal2 {
    border-radius: 4px;
    color: #fff;
    width: 185px;
}

.img-horizontal2 .legenda-horizontal2 h4 {
    color: #ffe790;
    margin-bottom: 5px;
    text-align: center;
}

.img-container {
    height: 370px;
}
.heart-checkbox {
    display: none;
}

.heart-label {
    cursor: pointer;
    width: 10px;
    height: 10px; 
    display: inline-block;
    background-color: transparent;
    position: relative;
    margin: 10px;
    transition: all 0.3s ease-in-out;
}

.heart-label::before,
.heart-label::after {
    content: "";
    width: 10px; 
    height: 16px;
    position: absolute;
    top: 0;
    left: 5px;
    background: rgb(252, 252, 252);
    border-radius: 10px 10px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
    transition: background 0.3s, transform 0.3s ease-in-out;
}

.heart-label::after {
    left: auto;
    right: 5px;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}

.heart-checkbox:checked + .heart-label {
    transform: scale(1.2);
}

.heart-checkbox:checked + .heart-label::before,
.heart-checkbox:checked + .heart-label::after {
    background: red;
}